<div class='container'>
	<br><br><br>

	<h3><%= @stock.ingredient_name.capitalize %> has <%= @stock.quantity %> left</h3>
	<% if @stock.quantity < @stock.low_quantity %>
		- This ingredient is <strong style="color:#05aaff">low on stock!</strong>
		<%= link_to "Buy more?", new_transaction_path(:id => current_user.id, :food => @stock.ingredient_name) %>
	<% else %>
	  - This ingredient's stock status is <strong style="color:#05aaff">good!</strong>
	<% end %><br><br>
	<h2>Transaction History:</h2>
	<% if !@last_trans.nil? %>
		Bought <%= @last_trans.quantity %> from <%= @supplier.username %> on <%= @last_trans.purchase_date.strftime "%B %d, %Y" %>
	<% else %>
		No transaction history!
	<% end %>
	<br><br>
	<%= link_to "Edit this Ingredient", edit_stock_path(@stock) %><br>
	<%= link_to "View Inventory", stock_show_path(:id => current_user.id) %>
</div>
