<br>
<br>
<br>
<br>

<%= search_form_for @search, url: users_search_path do |f| %>
  <div class="field">
    <%= f.label :email_cont, "Name contains" %>
    <%= f.text_field :email_cont %>
  </div>
  <div class="actions"><%= f.submit "Search", :class=>"btn" %></div>
<% end %>

<div>
<% if @search.inspect != 'Ransack::Search<class: User, base: Grouping <conditions: [Condition <attributes: [nil], predicate: eq, values: [nil]>], combinator: and>>' %>  
	<% @users.each do |user| %>
    <table class="table table-bordered">
      <tr>
        <th>User </th>
        <th> Description </th>
        <th> Price Range </th>
        <th> Rating </th>
      </tr>
    <tr>
      <td><%= link_to user.username, user %>
      <br><%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %></br></td>
      <td><%= user.description %></td>
      <td><%= user.price_range %></td>
      <td><%= user.rating %></td>
   </tr>
  <% end %>
  </table>
  <% if @users.nil? || @users.empty? %>
    <h2>No results</h2>
  <% end %>
<% end %>
</div>
