<div class="container">
	<br><br><br>

	<%= search_form_for @search, url: users_search_path, method: :post do |f| %>
	public search
	<%if @params == nil%>
	<%= f.condition_fields do |c| %>
	<%= render "condition_fields", f: c %>
	<% end %>
	<%= f.condition_fields do |c| %>
	<%= render "condition_fields", f: c %>
	<% end %>
	<%= f.condition_fields do |c| %>
	<%= render "condition_fields", f: c %>
	<% end %>
	<%= f.condition_fields do |c| %>
	<%= render "condition_fields", f: c %>
	<% end %>

	<p><%= link_to_add_fields "Add Conditions", f, :condition %></p>
	<div class="field">
		Sort:
		<%= f.sort_fields do |s| %>
		<%= s.sort_select %>
		<% end %>

		<%else%>
		<%="results"%>
		<%end%>
		<%if @params == nil%>
	</div>
	<div class="actions"><%= f.submit "Search" %>
	</div>
	<%else%>
</div>
<div class="actions"><%= f.submit "New Search" %>
</div>
<% end %>


<% end %>

<%if @params != nil%>
<% @users.each do |user| %>
<%= user.username%></br>
<%end%>
<%end%>

-----</br>
<%= @params.inspect%>
-----
</div>
