<br>
<br>
<br>
<br>

<%= search_form_for @search, url: users_search_path do |f| %>
  <div class="field">
    <%= f.label :email_cont, "Name contains" %>
    <%= f.text_field :email_cont %>
  </div>
  <div class="actions"><%= f.submit "Search", :class=>"btn" %></div>
<% end %>

<div>
<% if @search.inspect != 'Ransack::Search<class: User, base: Grouping <conditions: [Condition <attributes: [nil], predicate: eq, values: [nil]>], combinator: and>>' %>  
	<% @users.each do |user| %>
		<% unless user.username == current_user.username %>
			<%= link_to user.username, user %>
			<%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %></br>
		<% end %>
	<% end %>
	<% if @users.empty? %>
		<%= "No results" %>
	<% end %>
<% end %>
</div>
