<div class="container">
<br>
<br>
<br>
<br>

<%= search_form_for @search, url: users_search_path, method: :get do |f| %>
  <%= f.condition_fields do |c| %>
    <%= render "condition_fields", f: c %>
  <% end %>
  <p><%= link_to_add_fields "Add Conditions", f, :condition %></p>
  <div class="field">
    Sort:
    <%= f.sort_fields do |s| %>
      <%= s.sort_select %>
    <% end %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<div>
<% @search.inspect%>
<% if @search.inspect != 'Ransack::Search<class: User, base: Grouping <conditions: [Condition <attributes: [nil], predicate: eq, values: [nil]>, Condition <attributes: [nil], predicate: eq, values: [nil]>], combinator: and>>' %>
<% if !@users.nil? && !@users.empty? %>
		<table class="table table-bordered">
		  <tr>
		    <th> User </th>
		    <th> Description </th>
		    <th> Price Range </th>
		    <th> Rating </th>
		  </tr>
			<% @users.each do |user| %>
		  <tr>
		    <td><%= link_to user.username, user %>
		    <br><%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %></br></td>
		    <td><%= user.description %></td>
		    <td><%= user.price_range %></td>
		    <td><%= user.rating %></td>
		 </tr>
		<% end %>
		</table>
    <% end %>
  <% if @users.nil? || @users.empty? %>
    <h2>No results</h2>
  <% end %>
<% end %>
</div>

<%= form_tag users_search_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>
</div>



