<div class="container">
<br><br>


<%= search_form_for @search, url: users_search_path, associations: [:foods] do |f| %>
  <div class="field">
    <%=f.label :rating_gteq, "Rating of "%>
    <%=f.text_field :rating_gteq%>
    or higher
  </br>
    <%= f.label :username_or_email_or_description_or_foods_name_cont, "Lookup:" %>
    <%= f.text_field :username_or_email_or_description_or_foods_name_cont %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<% @users.each do |user| %>
<%= user.username%><%= user.rating%></br>

<%end%>
</div>