example of in-place editing(click on name to see)==>
<%= best_in_place @user, :username %>'s page 

<h2>Friends</h2>
<ul>
  <% for friendship in @user.friendships %>
    <li>
      <%=h friendship.friend.username %>
      (<%= link_to "remove", friendship, :method => :delete %>)
    </li>
  <% end %>
</ul>

<p><%= link_to "Find Friends", users_path %></p>

<h2>Friended by Users</h2>
<ul>
  <% for user in @user.inverse_friends %>
    <li><%=h user.username %></li>
  <% end %>
</ul>


<% @user.food.each do |item| %>
 
  <%= item.fname %>
<% end %>

<% if current_user.id == @user.id %>

<%="you can only see this part if you are looking at your own page" %>
<%end%>
