<% "My Profile" %>

<p>Email: <%=h @users.email %></p>


<h2>Friends</h2>
<ul>
  <% for friendship in @users.friendships %>
    <li>
      <%=h friendship.friend.email %>
      (<%= link_to "remove", friendship, :method => :delete %>)
    </li>
  <% end %>
</ul>

<p><%= link_to "Find Friends", users_path %></p>

<h2>Friended by Users</h2>
<ul>
  <% for user in @users.inverse_friends %>
    <li><%=h user.email %></li>
  <% end %>
</ul>
