<div class="container">
<br><br>
<div id="graph"><h2>
<%= @user.username %> Data</h2></div>

<% if current_user.id == @user.id %>
	<h3>Items Low on Stock</h3>
	<% if @low_stock.empty? %>
		Inventory at adequate levels!
	<% end %>

	<% @low_stock.each do |s| %>
		<%= s.ingredient_name %> has
		<%= s.quantity %> remaining<br>
	<% end %>
<% end %>

<div class="row">
  <div class="span7">
    <h1><%= best_in_place @user, :username %> page</h1>
    <ul>
    	<h3>Username:</h3>
    	<%= @user.username %>

    	<h3>User type:</h3>
    	<%= @user.user_type %>

    	<h3>Description:</h3>
    	<%= raw @user.description %>

    	<h3>Price Range:</h3>
    	<%= @user.price_range %>
	


    </ul> 

    <br>
    <% if current_user.id == @user.id %>
    	<p><%= link_to 'Edit Profile', edit_user_path, {:style => "font-size: 35px; color: #728FCE"} %></p>
    <% end %>
    <br>
  </div>
  
<!-- Beginning of IFP -->
	<% if current_user.id == @user.id %>
		<div class="span5">
			<h1>IFP</h1>
			<h2>Menu</h2>
			<% @food.each do |f| %>
				<%= link_to f.name, food_path(f) %>
				$<%= number_with_precision(f.price, :precision => 2) %><br>
			<% end %>
			<h2>Ingredients Used</h2>
			<% @ingredients.each do |i| %>
				<%= i.ingredient_name %><br>
			<% end %>

			<br><br>

			<p><%= link_to 'Edit Inventory', stock_show_path, {:style => "font-size: 35px; color: #728FCE"} %></p>

		  </br>
		  </br>
		  </br>
		</div>
	<% end %>
<!-- End of IFP -->
</div>
