<br>
<h1><%= best_in_place @user, :username %>'s page</h1>
<ul>
	<h3>Username:</h3>
	<h4><%= @user.username %></h4>

	<h3>User type:</h3>
	<h4><%= @user.user_type %></h4>

	<h3>Description:</h3>
	<h4><%= raw @user.description %></h4>

	<h3>Price Range:</h3>
	<h4><%= @user.price_range %></h4>

	<h3>List of Foods:</h3>
	<% @user.food.each do |item| %> 
		<h4><%= item.fname %></h4>
	<% end %>
</ul>
<% if current_user.id == @user.id %>
	<p><%= link_to 'Edit Profile', edit_user_path %></p>
<% end %>

<h2>Friends</h2>
<ul>
  <% for friendship in @user.friendships %>
    <li>
      <%=h friendship.friend.username %>
      (<%= link_to "remove", friendship, :method => :delete %>)
    </li>
  <% end %>
</ul>

<% if current_user.id == @user.id %>
	<p><%= link_to "Find Friends", users_search_path %></p>
<% end %>

<h2>Friended by Users</h2>
<ul>
  <% for user in @user.inverse_friends %>
    <li><%=h user.username %></li>
  <% end %>
</ul>
</br>
</br>
</br>
<!--start of IFP-->
<% if current_user.id == @user.id %>
<h1>Inward Facing Profile</h1>
<h2>user>>food:</h2>
<ul>
<% @user.food.each do |item| %>
   <% @var = item %>
  <li> <%= best_in_place @var, :fname %></li>
<% end %>
</ul>

<h2>user, ingredients>>inventory:</h2>
<ul>
<% @user.inventory.each do |inventory| %>
   <% @inventory = inventory %>
  <% @user.ingredient.each do |ingredient| %>
      <% @ingredient = ingredient %>
      <li>ingredient name | quantity_left</li>
      <li><%= best_in_place @ingredient, :ingredient_name, :path => user_path  %>
      <%= best_in_place @inventory, :quantity_left, :path => user_path  %></li>
  <% end %>
<% end %>
</ul>

<h2>users>>inventory>>ingredients:</h2>
  <ul>
  <% @user.ingredient.each do |item| %>
      <% @var = item %>
      <li>ingredient name | current price</li>
      <li><%= best_in_place @var, :ingredient_name, :path => user_path  %>
      <%= best_in_place @var, :current_price, :path => user_path  %></li>
  <% end %>
  </ul>
<!--//////////////////////////ABOVE=FINISHED:::BELOW=IN-PROGRESS//////////////////////////////-->
  <h2>users>>food, inventory, ingredients>>recipe:</h2>
  <ul>
    food name | amount used | quantity left | ingredient name
    <% @user.food.each do |food| %>
      <% if current_user.id == food.user_id %>
        <% @food = food%>
        <%= best_in_place @food, :fname %>
        
        <% @user.recipe.each do |recipe| %>
          <% if food.id == recipe.food_id %>
            <% @recipe = recipe %>
            <%= best_in_place @recipe, :amt_used %>

            <% @user.inventory.each do |inventory| %>
              <% if recipe.inventory_id == inventory.id %>
                <% @inventory = inventory %>
                <%= best_in_place @inventory, :quantity_left %>

                <% @user.ingredient.each do |ingredient| %>
                  <% if ingredient.inventory_id == inventory.id %>
                    <% @ingredient = ingredient %>
                    <%= best_in_place @ingredient, :ingredient_name %>
    </li> 
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

  </ul>

  <h2>users, ingredients>>sells:</h2>
  <ul>

</ul>


<!-- end of IFP-->
<% end %>
