<div class="container">
<br><br><br>
<h1><%= @food.name %></h1>
<h2>Price: $<%= @food.price %></h2>
<table>
	<tr>
		<td><h3>Ingredients</h3></td>
	</tr>
	<tr>
		<td><strong>Name</strong></td>
		<td><strong>Quantity</strong></td>
	</tr>
	<% @food.ingredients.each do |i| %>
		<tr>
			<td><%= i.ingredient_name %></td>
			<td><%= i.quantity_used %></td>
		</tr>
	<% end %>
		
</table>
<br>

<%= link_to "Edit this Food", edit_food_path(@food) %><br>
<%= link_to "See All Food", foods_show_path(:id => current_user.id) %>
