<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<% if !params[:food].nil? %>
		<% val = params[:food] %>
	<% elsif !params[:transaction].nil? %>
		<% val = params[:transaction][:ingredient_name] %>
	<% else %>
		<% val = '' %>
	<% end %>

  <div class="field">
    <%= f.label "Ingredient to be Bought" %>
    <%= f.text_field :ingredient_name, :value => val %>
  </div>
  <div class="field">
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :supplier %>
    <%= f.select :bought_from, @suppliers %>
  </div>
	<div class="actions">
    <%= f.submit :Submit, :class=>'btn' %>
  </div>
<% end %>
