<!DOCTYPE html>
<html>
  <head>
    <title>Cooperat.es</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_link_tag 'bootstrap', 'bootstrap-responsive', 'bootstrap.min', 'bootstrap-responsive', 'bootstrap-responsive.min',  'http://vjs.zencdn.net/c/video-js.css' %>
    <%= favicon_link_tag "favicon.png" %>
    <%= javascript_include_tag "application", 'http://vjs.zencdn.net/c/video.js' %>
    <%= csrf_meta_tag %>
    <link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
  </head>
  <body>

     <div id="nav_bar" class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="#">
              Cooperat.es
            </a>
            <ul class="nav">
              <li>
                <%= link_to "Home", root_path%>
                </a>
              </li>
              <% if user_signed_in? %>
                <li><%= link_to 'Edit Account', edit_user_registration_path %></li>
                <li><%= link_to 'Search', users_search_path %></li>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to "Sign up", new_user_registration_path %></li>
                <li><%= link_to "Login", new_user_session_path %></li>
              <% end %>
              
            </ul>
            
            <form class="navbar-form pull-right">
              <input name="textinput1" type="email" placeholder="Email" class="span2">
              <input name="textinput2" type="password" placeholder="Password" class="span2">
              <button class="btn">
                Sign in
              </button>
            </form>
          
            
          </div>
        </div>
      </div>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>
  
  <div class="container">
    <br>
  <%= yield %>
  </div>
  
</div>
  
    <!-- FOOTER -->


    <div class="container">
    <hr>        
    <div id ="textbox" style="clear: both;">
		<p class="alignleft">© Cooperat.es 2013</p>
     <% if user_signed_in? %>
       <p class="alignright">Logged in as <%= link_to current_user.username, current_user %></p>
    </div>
    
    <% end %>
        
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <%= javascript_include_tag 'bootstrap.js' %>
    </script>
  
  </body>
  
  </div>
</html>
